<div ng-if="isAuthed()" role="navigation" ng-controller="NavbarCtrl">
    <div>
        <a href="#/" name="top">MEANP App</a>
        <ul role="tablist">
            <li ng-repeat="module in menu.base">
                <a ng-href="#{{module.path}}">{{module.name}}</a>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <a>Welcome, {{ getCurrentUser().username }}</a>
                <ul>
                    <li>
                        <a href="" ng-click="logout()">Logout</a>
                    </li>
                        <li><a ng-click="manageRoles()"><span class="glyphicon-log-out"></span> Manage Roles</a></li>
                        <li><a ng-click="manageResources()"><span class="glyphicon-log-out"></span> Manage Resources</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>