<div ng-if="isAuthed()" role="navigation" ng-controller="NavbarCtrl" class="navbar">
  <div>
    <a href="#/" name="top">MEANP App</a>
    <ul role="tablist">
      <li ng-repeat="module in menu.base">
        <a ng-href="#{{module.path}}">{{module.name}}</a>
      </li>
    </ul>
    <a href="#/cart" name="top">
      <ngcart-summary template-url="/modules/base/views/partials/summary.html" ></ngcart-summary>
    </a>
  </div>
  <div>
    <ul>
      <li>
        <span>Welcome, {{ getCurrentUser().username }}</span>
        <ul>
          <li><a href="" ng-click="logout()">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
