<nav class="navbar navbar-default" ng-if="isAuthed()" role="navigation" ng-controller="NavbarCtrl">
  <div class="navbar-header">
    <a class="navbar-brand" href="#/" name="top">MEANP App</a>
  </div>

  <ul class="nav navbar-nav" role="tablist">
    <li ng-repeat="module in menu.base"><a ng-href="#{{module.path}}">{{module.name}}</a></li>
  </ul>

  <div class="navbar-header pull-right">
    <ul class="nav navbar-nav" role="tablist">
      <li><a href="#">Welcome, {{ getCurrentUser().username }}</a></li>
      <li><a href="" ng-click="logout()">Logout</a></li>
    </ul>
  </div>

</nav>
