.container, body article.page .content {
  max-width: 600px;
  margin: 0 auto; }

.stretchy-bg, body article.page .big-image, body article.page .big-image {
  background-position: center center;
  background-repeat: none; }

.big-image, body article.page .big-image {
  height: 300px; }

body {
  font-family: 'PT Serif', serif;
  color: #555;
  padding: 20px;
  padding: 0;
  margin: 0;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  /* Responsive typography, yay! */
  font-size: 80%;
  /* Page-wrap styles.  */ }
  body h1 {
    font-family: 'Source Sans Pro', serif; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #333; }
  body article.page {
    -webkit-transform-origin: bottom center;
    /* Class applied when when page fades away. */
    /* The large image that accompanies every post. */
    /* The content. */ }
    body article.page.hidden {
      display: none; }
    body article.page.next .big-image, body article.page.next body article.page .big-image, body article.page body article.page.next .big-image {
      cursor: pointer; }
    body article.page.next .big-image .inner, body article.page.next .big-image body article.page .big-image, body article.page body article.page.next .big-image .big-image {
      opacity: 1; }
    body article.page.content-hidden .content {
      display: none; }
    body article.page.fade-up-out {
      opacity: 0; }
    body article.page .big-image {
      font-size: 80%; }
      body article.page .big-image .inner, body article.page .big-image body article.page .big-image, body article.page body article.page .big-image .big-image {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        opacity: 0; }
        body article.page .big-image .inner .fader, body article.page .big-image .inner body article.page .big-image, body article.page body article.page .big-image .inner .big-image {
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.3); }
          body article.page .big-image .inner .fader .text, body article.page .big-image .inner .fader body article.page .big-image, body article.page body article.page .big-image .inner .fader .big-image {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80%; }
            body article.page .big-image .inner .fader .text a, body article.page .big-image .inner .fader .text body article.page .big-image, body article.page body article.page .big-image .inner .fader .text .big-image, body article.page .big-image .inner .fader .text h1, body article.page .big-image .inner .fader .text body article.page .big-image, body article.page body article.page .big-image .inner .fader .text .big-image, body article.page .big-image .inner .fader .text h2, body article.page .big-image .inner .fader .text body article.page .big-image, body article.page body article.page .big-image .inner .fader .text .big-image {
              color: white; }
            body article.page .big-image .inner .fader .text a, body article.page .big-image .inner .fader .text body article.page .big-image, body article.page body article.page .big-image .inner .fader .text .big-image {
              color: white;
              border-bottom: 1px solid white;
              text-decoration: none;
              font-style: italic; }
            body article.page .big-image .inner .fader .text h1, body article.page .big-image .inner .fader .text body article.page .big-image, body article.page body article.page .big-image .inner .fader .text .big-image {
              margin: 0; }
            body article.page .big-image .inner .fader .text h2, body article.page .big-image .inner .fader .text body article.page .big-image, body article.page body article.page .big-image .inner .fader .text .big-image {
              margin: 0;
              font-style: italic;
              font-weight: normal; }
    body article.page .content {
      padding: 0 3em; }
      body article.page .content h3 {
        color: #999;
        font-family: 'Source Sans Pro', serif;
        font-weight: 400; }
      body article.page .content h2.description {
        font-weight: normal;
        font-style: italic; }
      body article.page .content p:last-child {
        margin-bottom: rhythm(10); }
