<h1>Resources</h1>
<table ng-table="tableParams">
    <tr ng-repeat="r in $data">
        <td data-title="'Id'">{{ r._id }}</td>
        <td data-title="'Name'" sortable="'name'">{{ r.name }}</td>
        <td data-title="'Description'" sortable="'description'">{{ r.description }}</td>
        <td data-title="'Actions'">
            <button type="button" ng-click="edit(r)">Edit</button>
            <button type="button" confirm-message="Are you sure you want to delete the resource?" confirmed-action="delete(r)">Delete</button>
        </td>
    </tr>
</table>
<a ng-click="create()" role="button">Create Resource</a>
<p class="error">{{ errorMessage }}</p>