<form name="form" ng-submit="save()" novalidate>
    <div ng-class="{ 'has-warning': form.name.$dirty, 'has-success': form.name.$valid && form.name.$dirty && !form.name.$error.mongoose, 'has-error': form.name.$invalid && form.name.$dirty || form.name.$error.mongoose }">
        <input placeholder="Name" type="text" name="name" ng-model="resource.name" required unique-username mongoose-error>
        <p class="error" ng-show="form.name.$error.unique && form.name">That name is already taken.</p>
    </div>
    <div class="form-group" ng-class="{ 'has-warning': form.description.$dirty, 'has-success': form.description.$valid && form.description.$dirty && !form.description.$error.mongoose, 'has-error': form.description.$invalid && form.description.$dirty || form.description.$error.mongoose }">
        <input placeholder="Description" type="text" name="description" ng-model="resource.description" required mongoose-error>
    </div>
    <p class="error">{{ errorMessage }}</p>
    <a ng-disabled="form.$invalid" ng-click="save()">Save</a>
    <a ng-click="Cancel()">Cancel</a>
</form>