@import "compass/reset";
@import "compass/layout";
@import "compass/typography";
@import "compass/utilities";
@import "compass/css3";

@import "bootflat";

body{
	padding: 58px 0 0;
}

/*------- Login -------*/
.account-wall{
	text-align:center;
	img{
		
	}
	input{
		margin: 0 0 10px;
	}

	.profile-img{
		@include border-radius(120px);
		@include box-shadow( 0 1px 1px rgba(0,0,0,0.5));
		display: block;
		margin: 20px auto;
	}
}